APScheduler==3.8.0
backports.zoneinfo==0.2.1
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
Flask==2.0.2
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
minio==7.1.0
psycopg2==2.9.1
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
six==1.16.0
tzlocal==2.0.0
urllib3==1.26.7
Werkzeug==2.0.2
