@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  &__inner {
    background-color: $bgLight;
    padding: 15px 0;
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    margin-right: 50px;
  }
  &__content-link {
    margin: 0 20px;
    color: inherit;
    transition: all 0.2s;

    &:hover {
      color: #8b82c8;
    }
  }

  &__content-link.header__content-link--active {
    display: flex;
    background-color: $bgBtn;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
  }
}

.expenses {
  margin-top: 100px;

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__form-add {
    height: 50px;
    padding: 0 20px;
    @extend %btn;
    background-color: #86dc0c;
    color: #18641a;
    outline: none;
    transition: all 0.3s;

    &:hover {
      background-color: #c0f07d;
    }
  }

  &__form-box {
    display: flex;
    align-items: center;
  }

  &__form-search {
    display: flex;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
  }

  &__form-find {
    height: 40px;
    width: 40px;
    border: none;
    background-color: $bgBtn;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form-icon {
    width: 20px;
    height: 20px;
  }

  &__form-input {
    height: 40px;
    border: none;
    background-color: $bgLight;
    padding: 10px;
    outline: none;
    width: 180px;
    color: inherit;
  }

  &__form-select {
    position: relative;
    margin-left: 20px;
  }

  &__form-select select {
    display: none;
  }

  .select-selected {
    background-color: $bgBtn;
    @extend %btn;
    color: $text;
    outline: none;
    height: 50px;
    width: 220px;
    justify-content: start;

    &:after {
      position: absolute;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: $text transparent transparent transparent;
    }

    &.select-arrow-active {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      box-shadow: none;
    }

    &.select-arrow-active:after {
      border-color: transparent transparent $text transparent;
      top: 50%;
      transform: translateY(-100%);
    }
  }

  .select-items div,
  .select-selected {
    color: $text;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }

  .select-items {
    position: absolute;
    background-color: $bgBtn;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .select-hide {
    display: none;
  }

  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &__top {
    display: flex;
    margin-bottom: 15px;
    font-weight: 600;

    &-descr {
      margin-left: 40px;
      max-width: 275px;
      width: 100%;
    }

    &-amount {
      max-width: 275px;
      width: 100%;
    }

    &-date {
      max-width: 260px;
      width: 100%;
    }

    &-category {
      max-width: 260px;
      width: 100%;
    }

    &-action {
      display: flex;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    background-color: $bgLight;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;

    &-descr {
      margin-left: 20px;
      max-width: 275px;
      width: 100%;
    }

    &-amount {
      max-width: 300px;
      width: 100%;
    }

    &-date {
      max-width: 260px;
      width: 100%;
    }

    &-category {
      max-width: 260px;
      width: 100%;
    }

    &-action {
      display: flex;
    }

    &-edit {
      @extend %btn;
      height: 30px;
      padding: 5px 10px;
      color: $text;
      margin-right: 10px;
    }

    &-delete {
      @extend %btn;
      background-color: red;
      height: 30px;
      width: 30px;

      &:hover {
        background-color: #cb0303;
      }
    }
  }
}

.paginationjs {
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    list-style-type: none;

    li {
      margin: 0 5px;
      @extend %btn;
    }

    li a {
      text-decoration: none;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: inherit;
    }
  }

  &-go-input input {
    height: 30px;
    max-width: 50px;
    border: none;
    background-color: $bgLight;
    padding: 10px;
    outline: none;
    width: 180px;
    color: inherit;
    margin-left: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  &-go-button {
    margin-top: -2px;
    input {
      width: 30px;
      height: 30px;
      font-size: 0;
      line-height: 0;
      border: none;
      background-image: url(../images/icon/search.png);
      background-size: 60%;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: $bgBtn;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      cursor: pointer;
    }
  }

  .disabled {
    background-color: #ccc;
    cursor: default;

    &:hover {
      background-color: #ccc;
    }
  }

  .active {
    background-color: $text;
    color: $bgLight;

    &:hover {
      background-color: #6649f0;
    }
  }
}

.pop-up-expense {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;

  &__content {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    font-family: sans-serif;
    border-radius: 5px;
  }

  &__content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__content-title {
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
  }

  &__close-btn {
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    padding: 0;
  }

  &__form {
    label {
      color: $bgBtn;
    }

    input,
    select {
      outline: none;
      width: 100%;
      border: 1px solid $bgBtn;
      border-radius: 3px;
      margin-bottom: 20px;
      padding: 5px 10px;
      color: $text;
    }

    select[disabled] {
      border: 1px solid #ccc;
      color: #8c8c8c;
    }

    &-btn {
      @extend %btn;
      padding: 10px 20px;
      color: $text;

      margin: 30px auto 0 auto;
    }

    &-error {
      display: none;
    }
  }
}

.pop-up-delete {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;

  &__content {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-color: #fff;
    padding: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__close {
    width: 20px;
    height: 20px;
    margin-left: auto;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &__text {
    font-size: 30px;
    line-height: 32px;
    text-align: center;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
  }

  &__cancel {
    @extend %btn;
    color: #fff;
    background-color: red;

    &:hover {
      background-color: #cb0303;
    }
  }

  &__yes {
    @extend %btn;
    background-color: #86dc0c;
    color: #18641a;

    &:hover {
      background-color: #c0f07d;
    }
  }
}

.error {
  margin-top: 50px;

  &__title {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 44px;
    font-family: sans-serif;
  }
}

.categories {
  margin-top: 100px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__item-title {
    // text-align: center;
    font-weight: 700;
    width: 700px;
    padding: 10px 15px;
    background-color: $bgBtn;
    border-radius: 5px;
  }

  &__item-bar {
    border: 1px solid #000;
    height: 20px;
    border-radius: 10px;
    width: 400px;
  }

  &__item-fill {
    height: 20px;
    background-color: $bgBtn;
    width: 50%;
    border-radius: 10px;
  }

  &__item-percent {
    margin-left: 250px;
  }

  &__item-amount {
    margin-left: 250px;
  }
}

@import "media";
