version: "3.5"
services:
  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
  web:
    build: ../dockerfile/.
    volumes:
      - .:/myapp
    ports:
      - "3000:3000"
    depends_on:
      - db